 {% load staticfiles %}
 {% load moderatorapp_tags %}
 
 {% if error %}
            {{ error }}
 {% elif currentComment %}
        
        <li id="comment{{ currentComment.id }}" class="list-group-item comment" >
                                        <div id="comment{{ currentComment.id }}" class="item row">
                                    <div class="col-sm-2 col-xs-3">
                                                  <img class="img-responsive comment-img"
                                                            {% if currentComment.moduser_set.all|getAvatar %}
                                                            src="{{ currentComment.moduser_set.all|getAvatar }}"
                                                            {%else%}
                                                            src="{% static "myModerator_project/images/noProfile.jpeg" %}"
                                                            {%endif%}
                                                            alt="project name" />
                                    </div> 
                                    <div class="col-sm-10 col-xs-9">
                                       <p><span>
                                    {% if currentComment.moduser_set.all %}
                                        {% for modUser in currentComment.moduser_set.all %}
                                            <b class="text-success">{{ modUser.user.first_name|capfirst }} {{ modUser.user.last_name|capfirst }}: </b>
                                        {%endfor%}
                                    {%else%}
                                            <b>Anonomous: </b>
                                    {%endif%}
                                    </span>{{ currentComment.text|capfirst }}</p>
                                    </div><!--//desc-->
                                    
                      
                                </div><!--//item-->
                            </li>
{%endif%}
