{% load staticfiles %}
{% load moderatorapp_tags %}
 
        {% if error %}
            {{ error }}
        {% elif post %}
                            
                <li id="post{{ post.id }}" class="list-group-item posts">
                            <div class="voting">
                                <div class="voteCount" style="width: 90%;font-size:24px;text-align:center;">
                                   <span>{{post.rating}}</span>
                                </div>
                                <button id="voting-buttons" type="submit" class="btn btn-default upvoting-button" data-options='{"postID":{{ post.id }}}'><span class="fa fa-thumbs-o-up"></span></button>
                                <button id="voting-buttons" type="submit" class="btn btn-default downvoting-button" data-options='{"postID":{{ post.id }}}'><span class="fa fa-thumbs-o-down"></button>                       
                            </div>
                            <div class="item row">
                                            <div class="postdiv" style="float: left;">  
                                                <img class="img-responsive project-image"
                                                     {% if not post.anonymous %}
                                                         
                                                        {% if post.moduser_set.all|getAvatar %}
                                                            src="{{ post.moduser_set.all|getAvatar }}"
                                                        {%else%}
                                                            src="{% static "myModerator_project/images/noProfile.jpeg" %}"
                                                        {%endif%}
                                                    
                                                     {%else%}
                                                     src="{% static "myModerator_project/images/noProfile.jpeg" %}"
                                                     {%endif%}
                                                     alt="project name" />
                                                {% if post.anonymous %}
                                                    <b class="text-default">Anonymous User</b>
                                                {% elif post.moduser_set.all %}
                                                    {% for modUser in post.moduser_set.all %}
                                                <b class="text-default">{{ modUser.user.first_name|capfirst }} {{ modUser.user.last_name|capfirst }}</b>
                                                    {% endfor %}
                                                {% else %}
                                                <a href="#">Anonymous User</a>
                                            {% endif %}
                                            
                                            </div>
                                            <div class="postdiv">
                                                <h3 class="post-title">{{ post.text |capfirst}}</h3>
                                                  </div>
                                  
                                </div><!--//item-->
                                        
                                        <div class="header">
                                        <span class="activeComments togglecommentBtn"><span class="commentNumber">0</span> Comments <i class="fa fa-angle-down"></i></span>
                                        <i class="pull-right commentTime">{{ post.timeDate|timesince}} ago</i>
                                        </div>
                                        <ul class="list-group">
                                                <li class="list-group-item comment">
                                        <div class="comment-Submission">
                                                <div class="item row">
                                                                <img class="img-responsive comment-img"
                                                                    {% if userInfo.googleAvatar %}
                                                                    src="{{ userInfo.googleAvatar }}"
                                                                    {%else%}
                                                                    src="{% static "myModerator_project/images/noProfile.jpeg" %}"
                                                                    {%endif%}
                                                                    alt="project name" style="float:left;"/>
                                                        
                                        
                                                                <input class="form-control commentInput" placeholder="Add a comment..." data-options='{ "postID":{{ post.id }} }' minlength="10" maxlength="140">
                                                
                                                            <button class="commentSubmit" type="submit" style="display: none;"></button>
                                                </div><!--//item-->
                                                
                                                </li>
                                        </ul>

             </li>
        {% endif %}